{% extends "layout.njk" %}

{% block content %}
{% if old('errors') %}
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>Hibás adatok!</p>
  <p>{{ old('errors')[0].message }}</p>
</div>
{% endif %}
{% if old('success') %}
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>Siker adatbevitel!</p>
  <p>{{ old('success')[0].message }}</p>
</div>
{% endif %}
<form class="form-horizontal" method="POST">
    {{ csrfField }}
  <fieldset>
    <legend>Új tárgy felvétele</legend>
    <div class="form-group">
      <label for="name" class="col-lg-2 control-label">Tárgy neve</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" id="name" name="name" value="{{ old('name') }}" placeholder="Tárgy neve">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Felvétel</button>
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}