<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>MiniNeptun</title>
      <link rel="shortcut icon" type="image/x-icon" href="https://www.emilyprogram.com/images/locations/minnesota/mn_location_icon.png">
      <!-- Bootstrap -->
      <link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <p class="navbar-brand"><font color="red">MiniNeptun</font></p>
            </div>
         </div>
      </nav>
      <div class="container">
         {% if old('errors') %}
         <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>Hibás regisztráció!</p>
            <p>{{ old('errors')[0].message }}</p>
         </div>
         {% endif %}
         <form class="form-horizontal" method="POST" role="form" data-toggle="validator">
            {{ csrfField }}
            <fieldset>
               <legend>Regisztráció</legend>
               <div class="form-group has-feedback">
                  <label for="inputNCode" class="col-lg-2 control-label">Neptun Kód</label>
                  <div class="col-lg-4">
                     <input required type="text" class="form-control" id="inputNCode" name="ncode" value="{{ old('ncode') }}" placeholder="Neptun Kód">
                  </div>
               </div>
               <div class="form-group has-feedback">
                  <label for="inputFN" class="col-lg-2 control-label">Keresztnév</label>
                  <div class="col-lg-4">
                     <input required type="text" class="form-control" id="inputFN" name="FN" value="{{ old('FN') }}" placeholder="Keresztnév">
                     <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
                  </div>
               </div>
               <div class="form-group has-feedback">
                  <label for="inputLN" class="col-lg-2 control-label">Vezetéknév</label>
                  <div class="col-lg-4">
                     <input required type="text" class="form-control" id="inputLN" name="LN" value="{{ old('LN') }}" placeholder="Vezetéknév">
                     <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
                  </div>
               </div>
               {%if isAdminAlive==false%}
               <div class="form-group has-feedback">
                  <label for="inputIsAdmin" class="col-lg-2 control-label">Admin funkciók</label>
                  <div class="col-lg-4">
                     <select class="form-control" id="inputIsAdmin" name="isAdmin">
                        <option>Ki</option>
                        <option>Be</option>
                     </select>
                  </div>
               </div>
               {%endif%}
               <div class="form-group has-feedback">
                  <label for="inputPassword" class="col-lg-2 control-label">Jelszó</label>
                  <div class="col-lg-4">
                     <input required type="password" class="form-control" id="inputPassword" name="password" placeholder="Jelszó">
                     <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
                  </div>
               </div>
               <div class="form-group has-feedback">
                  <div class="col-lg-4 col-lg-offset-2">
                     <a class="btn btn-primary" href="/" role="button">Vissza</a>
                     <button type="submit" class="btn btn-primary">Regisztráció</button>
                  </div>
               </div>
            </fieldset>
         </form>
      </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
   </body>
</html>